# IDE specific
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
env/
venv/
.venv/

### Project specific ###
settings_local.py

### OS specific ###
.DS_Store
/my_test.py
/3.4-django-testing/django_testing/.coverage
/3.4-django-testing/django_testing/config
