{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.title }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            {% empty %}
                <p>Книги не найдены.</p>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if prev_date %}
                <a href="{% url 'books_by_date' prev_date %}">{{ prev_date|date:"d.m.Y" }}</a>
            {% endif %}
            {% if next_date %}
                <a href="{% url 'books_by_date' next_date %}">{{ next_date|date:"d.m.Y" }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}